@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .row {
        padding: 0 2%;
    }
}
@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
    section {
        padding: 60px 0;
    }
    /* .long-text {
        width: 80%;
        margin-left: 10%;
    } */
    .box p {
        font-size: 90%;
    }
    .portrait {
        width: 100%;
    }
    .icon-small {
        margin-right: 10px;
        width: 14px;
    }
    .picture img {
        height: 180px;
    }
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }
    section {
        padding: 30px;
    }
    h1 {
        font-size: 180%;
    }
    h2 {
        font-size: 150%;
    }
    .row, .hero-text-box {
        padding: 0 4%;
    }
    .col {
        width: 100%;
    }
    .main-nav {
        display: none;
    }
    .mobile-nav {
        display: inline-block;
    }
    .main-nav {
        float: left;
        margin-top: 35px;
        margin-left: 25px;
    }
    /* .long-text {
        width: 100%;
        margin-left: 0;
    } */
    .main-nav li {
        display: block;
    }
    .main-nav li a:link, .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }

    .sticky-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.97);
        box-shadow: 0 2px 2px #555;
        z-index: 9999;
    }
    .sticky-nav .main-nav {
        margin-top: 10px;
    }
    .sticky-nav .main-nav li a:link, .sticky-nav .main-nav li a:visited {
        padding: 10px 0;
    }
    .sticky-nav .mobile-nav {
        margin-top: 10px;
    }
    .sticky-nav .mobile-nav ion-icon {
        color: #555;
    }

    .box p {
        margin-bottom: 20px;
    }
    .picture img {
        height: 150px;
    }
}


@media only screen and (max-width: 480px) {
    section {
        padding: 25px 0;
    }
    .portrait {
        margin-bottom: 15px;
    }
    .picture img {
        height: 100px;
    }
    
}