/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* ----GLOBAL ELEMENTS---- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html, body {
    color: rgb(92, 92, 92);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.clearfix {
    display: flow-root;
}
h1{
    color: white;
    letter-spacing: 2px;
}
h2 {
    font-size: 180%;
    letter-spacing: 1.2px;
    margin-bottom: 10px; 
    text-align: center;
}
h3 {
    font-size: 150%;
    letter-spacing: 1.2px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 100;
}
h1:after{
    display: block;
    height: 1.5px;
    content: '';
    width: 1%;
    margin: 0 15px;
    background-color: rgb(202, 155, 155);
    -webkit-transition: width 1s ease;
    -o-transition: width 1s ease;
    transition: width 1s ease;
}

h2:after {
    display: block;
    height: 2px;
    content: '';
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: rgb(202, 155, 155);
}
h1:hover + h1:after  {
    width: 50%;
    content: '';
}
/* reuseable elements */
section {
    padding: 80px 0;
}
.box {
    padding: 1%;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}
/* Hero styles */
header{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url('../img/maxresdefault.jpg');
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/maxresdefault.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/maxresdefault.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}


/* Naviation styles */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}
.main-nav li {
    display: inline;
    margin-left: 40px ;
}
.main-nav li a:link, .main-nav a:visited {
    color: white;
    text-decoration: none;
    padding: 8px 0;
    letter-spacing: 2px;
    font-size: 90%;
    -webkit-transition: border-bottom 0.22s;
    -o-transition: border-bottom 0.22s;
    transition: border-bottom 0.22s;
}
.main-nav li a:hover, .main-nav li a:active {
    border-bottom: 2px solid rgb(202, 155, 155);
}
/* STICKY NAVIGATION BAR */
.sticky-nav {
    padding: 18px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.97);
    -webkit-box-shadow: 0 2px 2px #555;
            box-shadow: 0 2px 2px #555;
    z-index: 9999;
}
.main-nav {
    margin-top: 18px;
}
.sticky-nav .main-nav li a:link, .sticky-nav .main-nav li a:visited {
    color: #555;
    padding: 16px 0;
}

/* MOBILE NAVIGATION */
.mobile-nav {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}
.mobile-nav ion-icon {
    font-size:200%;
    color: #fff;
}

/* SECTION BIO */
.section-bio {
    background-color: #f4f4f4;
}

.bio p {
    font-size: 90%;
    line-height: 145%;
}
.portrait {
    border-radius: 8px;
    width: 80%;
    height: auto;
    -webkit-box-shadow: coral;
            box-shadow: coral;
    border: 1px solid #ddd;
    padding: 2px;
    -webkit-box-shadow: 5px 5px 10px rgb(143, 118, 118);
            box-shadow: 5px 5px 10px rgb(143, 118, 118);
}
/* ACCLAIMED FILMS SECTION */
.box img {
    width: 100%;
    height: 390px;
    margin-bottom: 15px;
}
/* Picture showcase section */
.media-section{
    padding: 0;
}
.film-showcase {
    list-style: none;
    width: 100%;
}
.film-showcase li {
    display: block;
    float: left;
    width: 25%;
}
.picture img {
    width: 100%;
    height: 300px;
    opacity: 0.7;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}
.picture {
    width: 100%;
    margin: 0;
    background-color: #000;
    overflow: hidden;
}
.picture img:hover {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
    opacity: 1;
}
/* Awards Section */
.award-col img {
    width: 100%;
    height: 300px;
    margin-bottom: 15px ;
    border-radius: 5%;
    -webkit-box-shadow: 5px 5px 10px rgb(143, 118, 118);
            box-shadow: 5px 5px 10px rgb(143, 118, 118);
}

.award-title {
    margin-bottom: 16px;
}

/* Critics section */
.critics-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url('../img/pic-9.jpg');
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/pic-9.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/pic-9.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
blockquote {
    margin-top: 40px;
    padding: 2px;
    line-height: 145%;
    position: relative;
    font-style: italic;
}
cite {
    font-size: 90%;
    display: block;
    margin-top: 23px;
}
cite img {
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
}
blockquote:before {
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
    content: '\201C';
    font-size: 500%;
}

/* INFLUENCE IN MEDIA SECTION. */

.comparison img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}
/* Footer styles*/

footer {
    background-color: #555;
    padding: 50px;
    font-size: 80%;
}
footer p, footer p a{
    color: #fff;
    margin-top: 30px;
    text-align: center;
}
.footer-nav {
    list-style: none;
    float: left;
}
.social-links {
    list-style: none;
    float: right;
}
.footer-nav li, .social-links li {
    display: inline-block;
    margin-right: 18px;
}
.footer-nav li a:link, .footer-nav li a:visited, 
.social-links li a:link, .social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #fff;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}
.footer-nav li a:hover, .footer-nav li a:active {
    color: #ddd;
}
.social-links li a:link, .social-links li a:visited {
    font-size: 155%;
}
.footer-nav li:last-child, .social-links li:last-child {
    margin-right: 0;
}

.linkedin-icon:hover {
    color: cadetblue;
}
.twitter-icon:hover {
    color: #00aced;
}
.github-icon:hover {
    color: #ddd;
}
.linkedin-icon, .twitter-icon, .github-icon {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

/* ------animate css on scroll */
.js-hero-text-box {
    opacity: 0;
}
.js-hero-text-box.animated {
    opacity: 1;
}

.js-critics{
    opacity: 0;
}
.js-critics.animate {
    opacity: 1;
}